
#sign-up-page,
#sign-in-page {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#sign-up-form,
#sign-in-form {
  background: white;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  box-shadow: 2px 2px 8px var(--border-color);
  padding: 16px;
  width: 380px;
}

#sign-up-form .title,
#sign-in-form .title {
  text-transform: uppercase;
}

#sign-up-form .form-group,
#sign-in-form .form-group {
  margin-bottom: 16px;
}

#sign-up-form label,
#sign-in-form label {
  display: block;
  margin-bottom: 3px;
}

#sign-up-form input[type='email'], input[type='password'], input[type='text'],
#sign-in-form input[type='email'], input[type='password'] {
  border-radius: 3px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
}

button,
button {
  background-color: var(--primary-color);
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

button:hover,
button:hover {
  background-color: var(--primary-dark-color);
}

#sign-up-form .rdr,
#sign-in-form .rdr {
  color: grey;
  font-size: 12px;
  margin-top: 16px;
  text-align: center;
}

#sign-up-form .rdr a,
#sign-in-form .rdr a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-dark-color);
}